@import url(reset.css);
@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
	font-family: var(--font-main);
	font-weight: 500;
	font-size: 0.8125rem;
	line-height: 1.4;
	letter-spacing: 0.001rem;
	color: var(--grey-500-color);
	background-color: var(--grey-200-color);
}
.sr-only {
	position: absolute;
	width: 0.0625rem;
	height: 0.0625rem;
	padding: 0;
	margin: -0.0625rem;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex: 1 1 auto;
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* === Card Component === */
.card {
	padding-block: clamp(3.75rem, -0.651rem + 18.78vw, 16.25rem);
	// .card__container
	&__container {
		--pad: 1.5rem;
		padding-inline: var(--pad);
		max-width: calc(45.625rem + 2 * var(--pad));
		margin: 0 auto;
	}
	// .card__body
	&__body {
		// position: relative;
	}
	// .card__image
	&__image {
		// aspect-ratio: 327 / 200;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .card__content
	&__content {
		position: relative;
		background-color: var(--white-color);
		padding: 1.875rem;
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;
	}
	// .card__title
	&__title {
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 1.3;
		letter-spacing: 0.0156rem;
		color: var(--grey-900-color);
	}
	// .card__text
	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}
	}
	// .card__author
	&__author {
	}
}
.author {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.9375rem;
	// .author__content
	&__content {
		display: flex;
		align-items: center;
		column-gap: 1rem;
	}
	// .author__avatar
	&__avatar {
		align-self: flex-start;
		flex: 0 0 2.5rem;
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .author__body
	&__body {
		display: grid;
		gap: 5px;
	}
	// .author__name
	&__name {
		font-weight: 700;
		color: var(--grey-900-color);
		text-transform: capitalize;
	}
	// .author__date
	&__date {
	}
	// .author__share
	&__share {
	}
}
.share {
	// .share__btn
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.625rem;
		background-color: var(--grey-200-color);
		border-radius: 50%;
		svg {
			fill: var(--grey-500-color);
			transition: fill 0.4s;
		}
		transition: background-color 0.4s;
		&:hover,
		&:focus {
			background-color: var(--grey-500-color);
			svg {
				fill: var(--white-color);
			}
		}
		&--active {
			opacity: 0;
			visibility: hidden;
		}
	}
	// .share__body
	&__body {
		position: absolute;
		bottom: 0;
		right: 0;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(100%);
		transition: all 0.4s;
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(0);
		}
	}
	//.share__inner
	&__inner {
		width: 100%;
		background-color: var(--grey-900-color);
		padding: 1.375rem 1.875rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.3125rem;
		// position: relative;
	}
	//.share__content
	&__content {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
	// .share__title
	&__title {
		text-transform: uppercase;
		color: var(--grey-400-color);
	}
	// .share__social
	&__social {
	}
}
.social {
	display: flex;
	align-items: center;
	gap: 16px;
	// .social__item
	&__item {
	}
	// .social__link
	&__link {
		transform: translateY(0);
		transition: transform 0.4s;
		&:hover {
			transform: translateY(0.1875rem);
		}
	}
}
.attribution {
	padding: 0.625rem;
	font-size: 0.6875rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
/* === Media Queries === */
@media (min-width: 40.625rem) {
	.card__container {
		--pad: 5rem;
	}
	.card__body {
		display: flex;
	}
	.card__image {
		flex: 1 1 39.041096%;
		border-radius: 0.625rem 0 0 0.625rem;
	}
	.card__content {
		flex: 1 1 60.958904%;
		border-radius: 0 10px 10px 0;
	}
	.share__body {
		bottom: 5.25rem;
		right: -4.1875rem;
	}
	.share__body.active {
		.share__btn {
			display: none;
		}
	}
	.share__inner {
		width: 15.5rem;
		padding: 1.125rem 2.4375rem;
		border-radius: 0.625rem;
		position: relative;
		height: 100%;
		&::after {
			content: "";
			position: absolute;
			bottom: -1.125rem;
			left: 50%;
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-left: 0.75rem solid transparent;
			border-right: 0.75rem solid transparent;
			border-top: 0.75rem solid var(--grey-900-color);
		}
	}
}
@media (max-width: 40.6238rem) {
	.card__image {
		aspect-ratio: 327 / 200;
		border-radius: 0.625rem 0.625rem 0 0;
	}
	.card__content {
		border-radius: 0 0 0.625rem 0.625rem;
	}
	.share__body {
		width: 100%;
		&.active {
			.share__inner {
				border-radius: 0 0 0.625rem 0.625rem;
			}
			.share__btn--active {
				opacity: 1;
				visibility: visible;
				background-color: var(--grey-500-color);
				svg {
					fill: var(--white-color);
				}
			}
		}
	}
}
