:root {
	// Colors
	--white-color: #fff;
	--grey-900-color: #48556a;
	--grey-500-color: #6e8098;
	--grey-400-color: #9daec2;
	--grey-200-color: #ecf2f8;

	//Typography
	--font-main: "Manrope", sans-serif;
}
