@import url(reset.css);
@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0.001rem;
  color: var(--grey-500-color);
  background-color: var(--grey-200-color);
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* === Card Component === */
.card {
  padding-block: clamp(3.75rem, -0.651rem + 18.78vw, 16.25rem);
}
.card__container {
  --pad: 1.5rem;
  padding-inline: var(--pad);
  max-width: calc(45.625rem + 2 * var(--pad));
  margin: 0 auto;
}
.card__image {
  overflow: hidden;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__content {
  position: relative;
  background-color: var(--white-color);
  padding: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}
.card__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.0156rem;
  color: var(--grey-900-color);
}
.card__text p:not(:last-child) {
  margin-bottom: 0.5rem;
}
.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}
.author__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.author__avatar {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.author__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author__body {
  display: grid;
  gap: 5px;
}
.author__name {
  font-weight: 700;
  color: var(--grey-900-color);
  text-transform: capitalize;
}
.share__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem;
  background-color: var(--grey-200-color);
  border-radius: 50%;
}
.share__btn svg {
  fill: var(--grey-500-color);
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}
.share__btn {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.share__btn:hover, .share__btn:focus {
  background-color: var(--grey-500-color);
}
.share__btn:hover svg, .share__btn:focus svg {
  fill: var(--white-color);
}
.share__btn--active {
  opacity: 0;
  visibility: hidden;
}
.share__body {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.share__body.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.share__inner {
  width: 100%;
  background-color: var(--grey-900-color);
  padding: 1.375rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.3125rem;
}
.share__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.share__title {
  text-transform: uppercase;
  color: var(--grey-400-color);
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.social__link {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.social__link:hover {
  -webkit-transform: translateY(0.1875rem);
      -ms-transform: translateY(0.1875rem);
          transform: translateY(0.1875rem);
}

.attribution {
  padding: 0.625rem;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* === Media Queries === */
@media (min-width: 40.625rem) {
  .card__container {
    --pad: 5rem;
  }
  .card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 39.041096%;
            flex: 1 1 39.041096%;
    border-radius: 0.625rem 0 0 0.625rem;
  }
  .card__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60.958904%;
            flex: 1 1 60.958904%;
    border-radius: 0 10px 10px 0;
  }
  .share__body {
    bottom: 5.25rem;
    right: -4.1875rem;
  }
  .share__body.active .share__btn {
    display: none;
  }
  .share__inner {
    width: 15.5rem;
    padding: 1.125rem 2.4375rem;
    border-radius: 0.625rem;
    position: relative;
    height: 100%;
  }
  .share__inner::after {
    content: "";
    position: absolute;
    bottom: -1.125rem;
    left: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 0.75rem solid var(--grey-900-color);
  }
}
@media (max-width: 40.6238rem) {
  .card__image {
    aspect-ratio: 327/200;
    border-radius: 0.625rem 0.625rem 0 0;
  }
  .card__content {
    border-radius: 0 0 0.625rem 0.625rem;
  }
  .share__body {
    width: 100%;
  }
  .share__body.active .share__inner {
    border-radius: 0 0 0.625rem 0.625rem;
  }
  .share__body.active .share__btn--active {
    opacity: 1;
    visibility: visible;
    background-color: var(--grey-500-color);
  }
  .share__body.active .share__btn--active svg {
    fill: var(--white-color);
  }
}